*
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html
{
    min-height: 100%;
    background: linear-gradient(0deg, rgb(159, 95, 165), rgb(81, 143, 81), rgb(218, 165, 86));
}

.header
{
    width: 100%;
    height: 70px;
    border-bottom: 3px groove rgba(233, 126, 126, 0.5);
    background: linear-gradient(0deg, rgba(238, 211, 56, 0.2), rgb(159, 95, 165));
    /* background-color: rgb(238, 211, 56); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    .headElem
    {
        height: 50px;
        min-width: 200px;
    }
    .headElem img 
    {
        width: 30px;
        height: 30px;
        filter: hue-rotate(280deg);
    }

h1, .specifications
{
    color: white;
}

h1
{
    cursor: pointer;
}

a, button, .button
{
    cursor: pointer;
    border: 2px solid black;
    background-color: rgb(233, 126, 126);
    color: white;
    font-size: large;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .5s;
}

a:hover, button:hover, .add_basket_empty
{
    background-color: white;
    color: rgb(233, 126, 126);
}

.little_font_size
{
    font-size: 8pt;
}

@media all and (max-width: 760px)
{
    .header
    {
        flex-direction: column;
    }
        .headElem
        {
            width: 100%;
        }
        .headElem img 
        {
            width: 20px;
            height: 20px;
        }

}